<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addproduct" method="post">
        Product pid : <input type="number" name="pid" id="pid"><br>
        Product Name : <input type="text" name="pname" id="pnm"><br>
        Product qty : <input type="text" name="qty" id="qty"><br>
        Product price : <input type="text" name="price" id="price"><br>
        <button type="submit" name="btn" id="btn">Add product</button>
    </form>
</body>
</html>