@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Students" asp-action="Index"> Go to Student Registration</a>
    <br />
    <a asp-controller="Courses" asp-action="Index"> Go to Courses Registration</a>
</div>
